- var isCentered = (navbar.isCosmetic ? "is-centered" : "")
- var isTransparent = (navbar.isTransparent ? "is-transparent" : "has-background-grey-darker")
nav(class=(`navbar ${isCentered} ${isTransparent}`))
  div(class='container')
    div(class='navbar-brand')
      a(class='navbar-item is-transparent' href='/')
        img(src='/images/avatarbox.png' alt='Logo')
      span(data-target="navbar-menu" class=(navbar.isCosmetic ? "is-hidden" : "navbar-burger burger script-enabled cloak"))
        include ./menu-button.pug
      noscript
        a(href="#menu" class=(navbar.isCosmetic ? "is-hidden" : "script-enabled")).navbar-burger.burger
          include ./menu-button.pug
    div(class=(`${isTransparent} ${navbar.isCosmetic ? "is-hidden" : ""}`))#navbar-menu.navbar-menu.has-text-centered
      .navbar-end
        span(class=(!navbar.isCosmetic ? "navbar-item" : "is-hidden"))
          a.button.is-white.is-outlined(href='https://docs.avatarbox.io')
            span.icon
              i.fa.fa-book
            span Documentation
        span(class=(!navbar.isCosmetic ? "navbar-item" : "is-hidden"))
          a.button.is-white.is-outlined(href='https://bitbucket.org/mrtillman/avatarbox.web')
            span.icon
              i.fa.fa-bitbucket
            span View Source
        span(class=(navbar.user ? "navbar-item" : "is-hidden"))
          a(class='has-text-white' href='/home/sign-out')
            | Sign Out
        if navbar.user
          include ./menu-button.pug
        noscript
          a(href="#" class=(`button is-transparent`))    
            span(class=(navbar.isCosmetic ? "is-hidden" : "")).navbar-burger.burger.is-active
              span
              span
              span